.slide{
    width: 195vw;
}
.slide div {
    width: 33.33%;
}
.slide2 { /* スライドさせるために必要なクラス */
    transform: translateX(-33.33%);
}
.slide3 { /* スライドさせるために必要なクラス */
    transform: translateX(-66.66%);
}
.officialSite{
    width: 31vw;
}
.floorMap{
    width: 34vw;
}
.businessHours{
    display: block;
    margin: 0 auto;
    width: 70vw;
}



@media (min-width: 481px) and (orientation: landscape){
    /*横仕様 スマホ*/
    .slide{
        width: 1050px;
    }
    .officialSite{
        width: 155px;
    }
    .floorMap{
        width: 170px;
    }
    .businessHours{
        display: block;
        margin: 0 auto;
        width: 360px;
    }
}



@media (min-width: 960px){
    /*横仕様 PC (pxを1/10してvwにしよう)*/
    .slide{
        width: 105vw;
    }
    .officialSite{
        width: 15.5vw;
    }
    .floorMap{
        width: 17vw;
    }
    .businessHours{
        display: block;
        margin: 0 auto;
        width: 36vw;
    }
}